.contact{
  margin-top: 15rem;

  .btn{
    border: none;
    cursor: pointer;
  }
}

.contact-title{
  margin-bottom: 2rem;
}

.contact-box{
  flex: 0 0 40%;
  max-width: 40%;
}

.contact-form{
  flex: 0 0 60%;
  max-width: 60%;
  .btn{
    margin-top: 2rem;
  }
  .btn-icon{
    margin-right: 0.5rem;
  }
}

.contact-data{
  display: grid;
  row-gap: 2rem;
}

.contact-icon{
  margin-right: 0.5rem;
}

.contact-subtitle{
  margin-bottom: 0.5rem;
}

.contact-inputs{
  display: grid;
  row-gap: 4rem;
}

.contact-content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid $color-gray;
  span{
    position: absolute;   
    bottom: -3px;
    left: 0;
    content: '';
    height: 3px;
    width: 0%;
    background-color: $color-primary;
    transition: 0.5s;
  }
}

@keyframes go-up{
  100%{
    transform: translateY(-2rem);
  }
}

.contact-input{
  
  &:focus ~ span{
    width: 100%;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;

  &:focus + .contact-label{
    color: $color-primary;
    animation-name: go-up;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
} 

.contact-label{
  position: absolute;
  top: -1.5rem;
  width: 100%;
  font-size: $small-font-size;
  transition: 0.3;
}

.contact-area{
  height: 8rem;
  textarea{
    resize: none;
    padding: 1rem 0;
  }
}


@media screen and (max-width: 768px) {
  .contact{
    .row{
      flex-direction: column;
      gap: 5rem;
      justify-content: center;
      align-items: center;
    }
  
    .contact-box{  
      min-width: 100%;
    }
  
    .contact-data{
      display: flex;
      justify-content: space-between;
    }
  
    .contact-form{
      min-width: 100%;
    }
  }

}



