.text-montserrat-600{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.text-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.text-raisin{
  color: #252323;
}

.text-oxfordBlue{
  color: #0B2027;
}

.text-snow{
  color: #FFF9FB;
}

.bg-snow{
  background-color: #FFF9FB;
}