.home {
  height: 90vh;
  min-height: 90vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  text-align: center;
  h1 {
    margin-bottom: 0.8rem;
  }
}

.social-icons {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .linkedin,
  .email,
  .github {
    color: $color-dark;
    font-size: 1.3rem;
  }

}

.avatar {
  height: 7rem;
  width: 7rem;
  color: rgba(29, 28, 23, 0.904);
  border-radius: 100%;
  background-color: #fcca46;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: $border-radius + 1rem;
  &:focus {
    outline: none;
  }
}

/* Animation */
@keyframes btn-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn-default {
  background-color: $color-primary;
  color: white;

  display: inline-block;
  &:hover {
    animation-name: btn-push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}

/* Scroll Down */
.scroll-down {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  margin-top: auto;
}

.mouse-wrapper {
  font-size: $small-font-size;
  max-width: 100px;
}

@keyframes ani-mouse {
  0% {
    top: 30%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}

.mouse {
  border: 2px solid $color-dark;
  display: block;
  height: 1.75rem;
  width: 1.2rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: $border-radius;
  position: relative;
  .wheel {
    background-color: $color-dark;
    border-radius: 50%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: 0.2rem;
    left: 0.35rem;
    display: block;
    animation: ani-mouse 1.5s linear infinite;
  }
}
